on:
  push:
    branches:
      - master
      - rc
  pull_request:
    branches:
      - master
      - development

name: R-CMD-check

env:
  cache-version: v2

jobs:
  R-CMD-check:
    runs-on: ${{ matrix.config.os }}
    name: ${{ matrix.config.os }} (${{ matrix.config.r }})

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: ubuntu-latest, r: 'devel'}
          - {os: ubuntu-latest, r: 'release'}
          - {os: ubuntu-latest, r: 'oldrel-1'}

    env:
      R_REMOTES_NO_ERRORS_FROM_WARNINGS: true
      _R_CHECK_FORCE_SUGGESTS_: false

    steps:
      - uses: actions/checkout@v4

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}
          use-public-rspm: true

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::rcmdcheck, any::covr
          needs: check

      - name: Check
        uses: r-lib/actions/check-r-package@v2
        with:
          args: 'c("--no-manual", "--as-cran")'

      - name: Test coverage
        run: |
          options(covr.exclude_end="(?://|#)[[:space:]]*nocov[[:space:]]*end")
          options(covr.exclude_start="(?://|#)[[:space:]]*nocov[[:space:]]*start")
          options(covr.exclude_pattern="(?://|#)[[:space:]]*nocov")
          covr::codecov()
        shell: Rscript {0}
